<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->
<app-top-bar (recordEvent)="onRecordEvent($event)" #myTopBar>
  <ng-container class="middle">
    <span [hidden]="showShareIcons" style="color: white"
      >{{ "Send" | translate
      }}<mat-icon
        id="record"
        aria-label="ViewOnly"
        style="position: relative; top: 5px; color: white; cursor: pointer"
        >fiber_manual_record</mat-icon
      ></span
    >
    <span [hidden]="showShareIcons" style="color: white" id="sharedData">
      {{ "Share" | translate
      }}<mat-icon
        style="color: white; cursor: pointer; position: relative; top: 5px"
        (click)="myTopBar.copyToMem()"
        >share</mat-icon
      ></span
    >
  </ng-container>
</app-top-bar>

<div class="container">
  <!--<cameras style='width:25%; position:absolute;'></cameras>-->
  <medialist></medialist>
  <preview
    [rooms]="this.rooms"
    [previewOn]="this.previewOn"
    class="flexDevices"
    (change)="muteChanges($event)"
    (playAllChange)="playAll($event)"
  ></preview>
  <!--<actors style='width:25%; position:absolute;left:25%;' ></actors>-->
  <!--<viewers  style='width:25%; position:absolute;left:50%;'></viewers>-->

  <timeline></timeline>
  <screen-share
    input="controllerScreen"
    [config]="janusConfig"
    options='{"bitrate":500000,"simulcast":true}'
  ></screen-share>
</div>
<ng-chat
  [adapter]="adapter"
  [userId]="userId"
  [title]="title"
  [theme]="themeAct"
  [pollFriendsList]="true"
></ng-chat>
