<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->

<div class="container">
    <h3 mat-dialog-title i18n>{{'Add new Show' | translate}}</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <div class="form">
        <mat-form-field color="accent" >

            <input matInput placeholder="{{'Name of Show' | translate}}" [(ngModel)]="data.name" name="id" required i18n-placeholder whitespace>

        </mat-form-field>
      </div>
      <div class="form" >
        <mat-form-field color="accent">
          <input matInput placeholder="{{'Number of Rooms' | translate}}" [(ngModel)]="data.rooms" name="rooms" required i18n-placeholder>
        </mat-form-field>
      </div>

      <div class="form" >
        <mat-form-field color="accent">
          <input matInput placeholder="{{'Numbers of scenes' | translate}}" [(ngModel)]="data.scenes" name="scenes" required >
        </mat-form-field>
      </div>
    </form>

      <div class="form" >

          <!--<input type="checkbox"  class="example-margin" [(ngModel)]="data.remoteAudience" required>Remote Audience  -->


      </div>



      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid"  [mat-dialog-close]="1" (click)="confirmAdd()" i18n>{{'Add' | translate}}</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" i18n>{{'Cancel' | translate}}</button>
      </div>
  </div>
