<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->


<a href="/" style="flex:1 auto">
  <img src='./assets/images/Traction_logo.png' style='width:150px;' >
  
</a>



<ng-content select='.middle'></ng-content>
<ng-container class="right" *ngIf="display">
  <button mat-button [matMenuTriggerFor]="menu" cdkOverlayOrigin style="background-color: #252525;">
      <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before" yPosition="above" cdkConnectedOverlay>
    <a mat-menu-item  (click)="locale('pt')">Português</a>
    <a mat-menu-item  (click)="locale('en')">English</a>
    <a mat-menu-item  (click)="locale('es')">Castellano</a>
    <a mat-menu-item  (click)="locale('eus')">Euskera</a>
    <a mat-menu-item  (click)="locale('cat')">Català</a>
    <mat-divider></mat-divider>
   <!-- <a mat-menu-item  (click)="logout()" i18n>{{'logout' | translate}}</a> -->
  </mat-menu>
  </ng-container>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
