<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->


<app-top-bar #myTopBar>
  <ng-container class="middle">
  <span class="child">
    <button class="border white" mat-button (click)="back()" i18n>{{'Back' | translate}}</button>
    </span>
    <span class="child">
  <app-upload>
  </app-upload>
  </span>
  <span class="child">
<button class="border"  (click)="next()" mat-button i18n>{{'Next' | translate}}</button>
</span>
</ng-container>

</app-top-bar>

<div class="container">
  
  <div class="container mat-elevation-z8">

 

    <mat-table #table [dataSource]="mediaFiles" matSort class="mat-cell" style="background-color:#bdbdbd !important;">
     
     
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>{{'Name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        
      </ng-container> 
   
   
  
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Url</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.url}}</mat-cell>
      </ng-container>
  
  
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef i18n>
        {{'Actions' | translate}}
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
  
          <button mat-icon-button color="accent" (click)="removeFile(row.name)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
      
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
  


</div>
