<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->
<div id="modal-content-wrapper" *ngIf="optin_mode=='add_file'">
    <header id="modal-header" *ngIf="optin_mode=='add_file'">
        <h1 id="modal-title" i18n>Add media resource</h1>
    </header>
    <section id="modal-body" >
        <p> <span *ngIf="optin_mode=='add_file'" i18n>Choose type:</span>
          <select id="option-mode" [(ngModel)]="sub_mode" *ngIf="optin_mode=='add_file'">
          <option value="url"> URI</option>
          <option value="webrtc"> Webrtc</option>
          <option value="rtsp"> Rtsp</option>
        </select>
      </p>
        <p id="url_body" *ngIf="optin_mode=='add_file' && sub_mode=='url'"><span> URL:</span><input [value]="_url" (input)="_url = $event.target.value"></p>
        <p id="webrtc_body" *ngIf="(optin_mode=='add_file' && sub_mode=='webrtc')"><span> Webrtc PEERID:</span><span class="material-icons" (click)="updateList()">
refresh</span>
         
        </p>
        <p id="webrtc_body" *ngIf="optin_mode=='add_file' && sub_mode=='rtsp'">
          <mat-form-field appearance="legacy" >
            <mat-label>Name</mat-label>
            <input matInput placeholder="Camera name" [(ngModel)]="rcam.name">



          <mat-label>URI</mat-label>
          <input matInput placeholder="rtsp url for camera" [(ngModel)]="rcam.uri">
            </mat-form-field>

            <mat-form-field appearance="legacy" >
              <p><mat-label>Using channels (max. 10)</mat-label></p>
            </mat-form-field>

            <mat-list  [(ngModel)]="cam">
            <mat-list-item *ngFor="let cam of camList" [value]="cam">
              {{cam}}
              <span class="material-icons" style="margin-left:100%" (click)="remove(cam)"> delete </span>
            </mat-list-item>
            </mat-list>
            </p>
    </section>
</div>
<div id="modal-content-wrapper-layout" *ngIf="optin_mode=='layout'">
  <header id="modal-header">
      <h1 id="modal-title" >Transitions Options</h1>
  </header>
  <section id="modal-body">
    <input matInput type="color" [(ngModel)]="transitionColor">
<mat-selection-list  [(ngModel)]="activeLayout" *ngIf="optin_mode=='layout'" ngDefaultControl>
  <mat-list-option *ngFor="let layout of layouts" [value]="layout">
    {{layout}}
  </mat-list-option>
</mat-selection-list>
</section>
</div>
<div id="modal-content-wrapper-layout" *ngIf="optin_mode=='transition'">
  <header id="modal-header">
      <h1 id="modal-title" >Transitions Options</h1>
  </header>
  <section id="modal-body">
    <div>
      <mat-label> Transition color:</mat-label><input matInput type="color" [(ngModel)]="transitionConfig.color" style="margin-left:51px;height:40px;">
  </div>
  <div>
    <mat-label>  Time of transition(ms):  </mat-label><input matInput type="number" value=1500 [(ngModel)]="transitionConfig.time"> 
  </div>
</section>
</div>
<div id="modal-content-wrapper-layout" *ngIf="optin_mode=='name'">
  <header id="modal-header">
      <h1 id="modal-title">Set Your Data:</h1>
  </header>
  <section id="modal-body">
   Name: <input type="text" [value]="name" [(ngModel)]="name">
</section>
</div>

<div id="modal-content-wrapper-layout" *ngIf="optin_mode=='timeline_send'">
  <header id="modal-header">
      <h1 id="modal-title">Send to:</h1>
  </header>
  <section id="modal-body">
    <mat-selection-list  [(ngModel)]="userSelected">
      <mat-list-option  *ngFor="let user of users" [value]="user">
        {{user.id}}
      </mat-list-option >
    </mat-selection-list >
</section>
</div>

<div id="modal-content-wrapper-nosignal" *ngIf="optin_mode=='nosignal'">
  <header id="modal-header">
      <h1 id="modal-title" style="color:white">Set No Signal Image:</h1>
  </header>
  <section id="modal-body">
    <mat-selection-list  [(ngModel)]="nosignalImage" [multiple]="false" (selectionChange)="onListSelectionChange($event)">
      <mat-list-option  *ngFor="let image of images" [value]="image" [selected] = "dataService.isNoSignalConfDev(image)" >
        {{image.name}}
      </mat-list-option >
    </mat-selection-list >
</section>
</div>


<div id="modal-content-wrapper-stageyt" *ngIf="optin_mode=='stageyt'">
  <header id="modal-header">
      <h1 id="modal-title" style="color:white">Transmit To Youtube:</h1>
  </header>
  <section id="modal-body" style="color: white;">
    <iframe width="320" height="140" [src]="ytPlayerUrl | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> Player url: <input type="text" [value]="ytPlayerUrl" [(ngModel)]="ytPlayerUrl" style="margin-left:52px;" ></p>
    <mat-selection-list  [(ngModel)]="nosignalImage" [multiple]="false" (selectionChange)="onListSelectionChange($event)">
      <mat-list-option  *ngFor="let service of services" [value]="service"  [selected]="default(service)">
        {{service.name}}
      </mat-list-option >
    </mat-selection-list >
    <p> Transmission Key: <input type="password" [value]="ykey" [(ngModel)]="ykey" ></p>
    <p> Server to Forward: <input type="text" [value]="ytserver" ></p>
    <p> Status Log:</p>
    <p>
      <textarea id="status" cols="60" rows="10">{{ytlog}}</textarea>
    </p>
</section>
</div>

<div id="modal-content-wrapper-componentsconfig" *ngIf="optin_mode=='copyComponents'">
  <header id="modal-header">
      <h3 id="modal-title" style="color:white">Copy components Set up:</h3>
  </header>
  <section id="modal-body">
    <div id="modal-title" style="color:white;font-size: 13pt;">Copy this {{devName}}'s components</div>
    <div id="modal-title" style="color:white;font-size: 13pt;">To (Device):</div>
    <mat-selection-list  [(ngModel)]="devTo" [multiple]=true >
      <mat-list-option  *ngFor="let dev of devices" [value]="dev" >
        {{dev}}
      </mat-list-option >
    </mat-selection-list >
</section>
</div>

<footer id="modal-footer" *ngIf="optin_mode!='copyComponents' && optin_mode!='stageyt'">
  <button mat-raised-button id="modal-cancel-button" (click)="actionFunction()">Update</button>
  <button mat-raised-button id="modal-action-button" (click)="closeModal()">Close</button>
</footer>

<footer id="modal-footer" *ngIf="optin_mode=='stageyt'">
  <button mat-raised-button id="modal-cancel-button" (click)="startYT()">Start</button>
  <button mat-raised-button id="modal-action-button" (click)="stopYT()">Stop</button>
  <button mat-raised-button id="modal-cancel-button" (click)="saveYT()">Save</button>
  <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Close</button>
</footer>

<footer id="modal-footer" *ngIf="optin_mode=='copyComponents'">
  <button mat-raised-button id="modal-cancel-button" (click)="actionFunction()">Copy</button>
  <button mat-raised-button id="modal-action-button" (click)="closeModal()">Close</button>
</footer>
