<!-- << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. -->
<input type="file" #file style="display: none" (change)="onFolderAdded()" multiple webkitdirectory/>
<input type="file" #file2 style="display: none" (change)="onFilesAdded()" multiple/>

<div class="container2" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title i18n> {{'Select Multimedia content' | translate}}</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button  style="background-color:#1976d2;" class="add-files-btn" (click)="addFolder()" i18n>
     {{'Add Folder' | translate}}
    </button>
  </div>
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button  style="background-color:#1976d2;" class="add-files-btn" (click)="addFiles()" i18n>
     {{'Add Files' | translate}}
    </button>
  </div>
  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">

        <h4 mat-line>{{file.name}}</h4>

        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
        <mat-checkbox class="example-margin" [checked]="file.audio" (change)="fileAudioChange($event,file)"></mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-raised-button  style="background-color:#1976d2;" mat-dialog-close i18n>{{'Close' | translate}}</button>
    <button mat-raised-button  style="background-color:#1976d2;" [disabled]="!canBeClosed" (click)="closeDialog()" i18n>{{'Upload' | translate}}</button>
  </mat-dialog-actions>
</div>