/* << Copyright 2022 Tamayo Uria, Ana Domínguez Fanlo, Mikel Joseba Zorrilla Berasategui, Héctor Rivas Pagador, Sergio Cabrero Barros, Juan Felipe Mogollón Rodríguez, Daniel Mejías y Stefano Masneri >>
This file is part of CoCreationStage.
CoCreationStage is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
CoCreationStage is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along with Orkestralib. If not, see <https://www.gnu.org/licenses/>. */
.vprev{
  width:100px;
}
x-media{
  video{
    width:150px !important;
    height:auto !important;
  }
  img{
    width:150px !important;
    height:auto !important;
  }
}
.extcont{
  width:400px;
  position:absolute;
  color:#e0e0e0 !important;
  font-family: 'Roboto', Arial, sans-serif;
  height:calc(100% - 468px);
  overflow: hidden;
  border: 1px grey solid;
  background-color: #454545;

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color:#e0e0e0 !important;
  height:calc((100% - 96px)/2);
  overflow: auto;
}
.medias{
  display:flex;
  flex-wrap: wrap;
  margin:10px;
  width:150px; 
  flex-direction: row;
  color:#e0e0e0 !important;
}
.title_mediaList{
  font-size: 14px;
  font-weight: 500;
  text-align:center;
  height: 48px;
  padding:15px;
  background-color: #353535;
}
.flex-container::-webkit-scrollbar {
    width: 12px;
}
.flex-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 1);
    border-radius: 10px;
    /*background:#D1CECD;*/
}
.flex-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #D1CECD;
    background: #555;
}
.flex-container::-moz-scrollbar {
    width: 12px;
}
.flex-container::-moz-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(37, 37, 37, 1);
    border-radius: 10px;
    /*background:#D1CECD;*/
}
.flex-container::-moz-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #D1CECD;
    background: #555;
}
