<div style='text-align:center;font-weight:bold;'>Actors</div>
<div class="flex-container">
  <div *ngFor='let v of viewersStatus'>
    <img src='./assets/images/user.png' style='width:100px;height:100px;'>
    <img *ngIf='v.status==0' id='view_{{v.id}}' src='./assets/images/star_off.png' style='width:30px;height:30px;margin-left:-20px;' (click)=activeViewer($event)>
    <img *ngIf='v.status==1' id='view_{{v.id}}' src='./assets/images/star_on.png' style='width:30px;height:30px;margin-left:-20px;' (click)=deactiveViewer($event)>
    <div style='margin-left:20px;'>Actor {{v.name}}</div>
  </div>
</div>
